*{
    margin: 0;
    padding: 0;
}
img{
    float: left;
    width: 80px;
}
nav{
    text-align: right;
    padding: 35px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 15px;
}
a{
    color: #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
h1{
    color: white;
    font-size: medium;  
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
p{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
main{
    background-color: #BF4186;
}
h2{
    color: white;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
li{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
footer img{
    width: 40px;
    padding-left: 40px;
    margin: 10px;
}
article{
    background-color: #bb5d91;
}
article ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
h3{
    color: white;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
main img{
    width: 90px;
}